Repository camphor-/relaym-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": ["eslint --fix"],
  "*.{css,sass,scss,json,yml,yaml,md}": ["prettier --write"]
}

@nuxtjs/proxyでローカル開発時のみAPIプロキシを有効化
  nuxt.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Netlifyで静的書き出しを行うように修正
  components/atoms/ShareButtons.vue
  netlify.toml
  nuxt.config.ts
Due: eslint --fix

fallbackに404.htmlを使うように修正
  nuxt.config.ts
  static/_redirects
Due: eslint --fix

process.envの型定義を追加
  components/atoms/ShareButtons.vue
  config.d.ts
Due: eslint --fix

_nuxtディレクトリを404リダイレクトしないように設定
  static/_redirects
Due: none

TypeScriptをdepsから削除
  package.json
  yarn.lock
Due: prettier --write

Bump eslint from 6.8.0 to 7.15.0
  package.json
  yarn.lock
Due: prettier --write

Run yarn lint --fix
  components/atoms/SessionArchivedHeader.vue
  components/organisms/BanFreePlanDialog.vue
  components/organisms/DeviceSelectDialog.vue
  components/organisms/NewSessionDialog.vue
  components/organisms/ServiceDescription.vue
  components/organisms/Snackbar.vue
  plugins/loadFontAwesome.ts
Due: eslint --fix

Enable @typescript-eslint/no-use-before-define and disable no-use-before-define
  .eslintrc.js
Due: eslint --fix

Update release.yaml
  .github/workflows/release.yaml
Due: prettier --write

chore: Cloudflare Pages向けに404.htmlを生成しないように変更
  nuxt.config.ts
  static/_redirects
Due: eslint --fix

chore: Node 14にアップデート
  .node-version
  .nvmrc
  package.json
Due: prettier --write
